 /* .grid-container {
    margin: 0 auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.item-1 {}

.header_logo {
    margin-right: 20px;
    padding: 15px;
}

.header_menu {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(207, 207, 207);
}

.menu_list {
    display: flex;
}

.menu_navigation {
    display: flex;
    align-items: center;
}

.menu_navigation li {
    margin-right: 55px;
    color: black;
}

.social_media {
    padding: 10px 10px 20px 25px;
    align-items: center;
    display: flex;
}

.social_media img {
    height: 20px;
    margin-right: 35px;
}

.item-2 {}

.stories {}

.story {
    display: flex;
}

.story_text {
    margin: 20px;
    text-align: justify;
    padding: 50px;
}

.story_text h2 {
    padding-bottom: 20px;
    font-size: 40px;
}

.story_text p {
    font-size: 20px;
    line-height: 1.5em;
}

.button {}

.story_img img {
    width: 100%;
} */
 
 .grid-container {
     margin: 15px;
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     grid-template-rows: repeat(8, auto 1fr);
 }
 
 .div1 {
     padding: 1em;
     grid-area: 1 / 1 / 2 / 6;
 }
 
 .header_wrapper {
     display: flex;
     align-items: center;
     justify-content: space-between;
 }
 
 .header_menu {
     display: flex;
 }
 
 .menu_navigation {
     display: flex;
     align-items: center;
 }
 
 .social_media {
     display: flex;
     align-items: center;
 }
 
 .header_logo,
 .menu_navigation li,
 .social_media li:not(:last-child) {
     margin-right: 30px;
 }
 
 .div2 {
     border-top: 1px solid rgb(223, 223, 223);
     grid-area: 2 / 1 / 3 / 5;
 }
 
 .story {
     display: flex;
     flex-wrap: wrap;
     border-bottom: 1px solid rgb(219, 218, 218);
     ;
 }
 
 .story:nth-child(2) {
     flex-direction: row-reverse;
 }
 
 .first_story .story_text,
 .first_story .story_img {
     width: 50%;
 }
 
 .story_text {
     text-align: start;
     padding: 70px;
     line-height: 1.5em;
 }
 
 .story_text {
     width: 65%;
 }
 
 .story_text h2 {
     padding-bottom: 1em;
 }
 
 .story_img {
     width: 35%;
 }
 
 .story_img img {
     width: 100%;
     height: 100%;
     object-fit: cover;
 }
 
 .button button {
     margin: 20px 0px;
     padding: 10px 0px;
     border: 1px solid rgb(219, 218, 218);
     border-radius: 6px;
     width: 112px;
     height: 36px;
     background: none;
     text-align: center;
 }
 
 .div3 {
     grid-area: 3 / 1 / 3 / 5;
 }
 
 .gallery h2 {
     text-align: center;
     padding: 1em;
 }
 
 .gallery .gallery_pictures {
     display: flex;
     position: relative;
 }
 
 .gallery .gallery_pictures::before {
     content: '';
     opacity: 0;
     position: absolute;
     width: 3%;
     height: 30%;
     top: 65px;
     left: 0px;
     z-index: 4;
     background: url(../img/wingleft.png) no-repeat;
     background-size: 90%;
 }
 
 .gallery .gallery_pictures::after {
     content: '';
     opacity: 0;
     position: absolute;
     width: 3%;
     height: 30%;
     top: 65px;
     right: 0px;
     z-index: 4;
     background: url(../img/wingright.png) no-repeat;
     background-size: 90%;
 }
 
 .gallery .gallery_pictures:hover:before,
 .gallery .gallery_pictures:hover:after {
     opacity: 1;
 }
 
 .gallery_pictures .pics {
     position: relative;
     max-width: 100%;
 }
 
 .gallery_pictures .pics img {
     width: 100%;
     height: 100%;
 }
 
 .gallery_pictures .pics::after {
     content: '';
     position: absolute;
     width: 100%;
     height: 100%;
     top: 0;
     left: 0;
     background: rgba(0, 0, 0, 0.5);
     opacity: 0;
     transition: 0.3s;
     z-index: 1;
 }
 
 .gallery_pictures .pics:hover::after {
     opacity: 1;
 }
 
 .gallery_pictures .pics .text {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: auto;
 }
 
 .gallery_pictures .pics .pictures_text {
     display: none;
     font-size: 0.8rem;
     position: absolute;
     left: 0px;
     top: 0px;
     text-align: center;
     color: aliceblue;
     width: 100%;
     height: 100%;
     transition: all 0.5s ease-out;
     padding: 15px;
 }
 
 .gallery_pictures .pics:hover .pictures_text {
     display: block;
     z-index: 2;
 }
 
 .gallery_pictures .pics .pictures_text button {
     color: aliceblue;
     border: 1px solid rgb(219, 218, 218);
     border-radius: 6px;
     padding: 5px 10px;
     font-size: 0.8rem;
     text-align: center;
     background: none;
     margin: 15px 0px;
 }
 
 .div4 {
     grid-area: 3 / 1 / 4 / 5;
 }
 
 .div5 {
     grid-area: 3 / 1 / 4 / 3;
 }
 
 .div6 {
     grid-area: 3 / 3 / 4 / 5;
 }
 
 .div7 {
     grid-area: 4 / 1 / 5 / 5;
 }
 
 .div8 {
     grid-area: 4 / 1 / 5 / 3;
 }
 
 .div9 {
     grid-area: 4 / 3 / 5 / 5;
 }
 
 .div10 {
     grid-area: 5 / 1 / 6 / 5;
 }
 
 .div11 {
     grid-area: 6 / 1 / 7 / 5;
 }
 
 .div12 {
     grid-area: 7 / 1 / 8 / 5;
 }
 
 .div13 {
     grid-area: 8 / 1 / 9 / 5;
 }
 
 .item-4 {}
 
 .features {}
 
 .icon_block {}
 
 .icon {}
 
 .item-5 {}
 
 .feedback {}
 
 .registr {}
 
 .contact_with {}
 
 .topic {}
 
 .message {}
 
 .human {}
 
 .item-6 {}
 
 .footer {}
 
 .footer_media {}
 
 .copyright {}
 
 @media only screen and (max-width: 850px) and (min-width: 600px) {
     .story .story_text,
     .story .story_img {
         width: 50%;
     }
     .social_media {
         display: none;
     }
     .gallery_pictures {
         display: grid;
         grid-template-columns: repeat(2, 1fr);
         grid-template-rows: repeat(1, 1fr);
     }
 }